.accordion {
	width: 100%;
	overflow: hidden;
	margin-top: 2px;
	background-color: $grey-4;
}
.accordion__intro {
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
}

.accordion__content {
	display: none;
	padding: 0 20px 20px;
	opacity: 1;
	background: $white;
	border: 1px solid $grey-7;
}

.accordion__title {
	color: $grey-2;
	font-size: 22px;
	font-weight: 500;
	margin: 0;
	line-height: 1;
}
