/*----------  variables
------------------------------------------------------------------------------*/

// Colors
$white: #fff;
$black: #000;
$orange: #f1592a;
$grey-1: #e9e9ea;
$dark-black-1: #323232;
$grey-2: #444;
$grey-3: #bdbdbd;
$grey-4: #ececec;
$grey-5: #dedede;
$grey-6: #ccc;
$grey-7: #f1f1f1;
$green: #51a451;
$red: #c44741;

// Transition variables
$duration: 0.2s;
$easing: linear;
